.login{
    font-size: 15px;
    background: skyblue;
    text-align: center;
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;

}
#customize_input{
    margin-left: 35%;
    text-align: center;
    font-size: 3rem;
}
#submit{
    margin-right: 52%;
}